@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
//variables
$contactBarBgColor: rgba(0,0,0,0.4); 
$leftFontColor: rgb(19, 40, 83);
$downloadButtonColor: rgb(86, 131, 223);
$iconWidth: 5%;
$fontType1: 'Bodoni Moda', serif; 
$hoverBgColor : #8478ec;
$hoverBgColor2: #8293ff;
$personaBgColor: rgba(227, 227, 240, 0.37);
$personaBoxShadow: 0px 0px 15px #888888;
$white: #ececec;
$black: #333333;
$yellow: #6eafbb;
$purple: #9a7cd1;
$colorPrimary: $yellow;
$colorSecondary: $purple;

$XS: 12.5em; // 200px
$S: 18.75em; //300px
$M: 47.5em; 
$L: 63em;
$XL: 83em; 

//media queries
// 根据最小屏幕宽度和最大屏幕宽度的范围来控制responsive website
@mixin MQ($canvas) {
	@if $canvas == XS {
		@media only screen and (min-width: $XS) { // - 1em
			@content;  
		}
	}
	@else if $canvas == S {
		@media only screen and (min-width: $S) {
			@content; //被替换成调用他的selector的属性值 
			//加only指的是只有screen的时候才加上这个样式 对现在浏览器加不加only 区别没有很大
		}
	}  
	@else if $canvas == M {
		@media only screen and (min-width: $M) {
			@content;  
		}
	}
	@else if $canvas ==  L { 
		@media only screen and (min-width: $L) {
			@content;  
		} // screen 还可以是print属性，即用户打印时的界面样式
	}
} 

@mixin btn__split($colorLeft, $colorRight, $textColor) {
	.btn__download {
		position: relative;
		letter-spacing: 0.25em;
		margin: 0 auto;
		padding: 1rem 2.5rem;
		background: transparent;
		outline: none;
		font-size: 15px;
		color: $textColor;

		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 70%;
			transform: skewX(30deg);
			transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			z-index: -2;
		}
		&::before {
			background-color: $colorLeft;
			top: -1rem;
			left: 0rem;
		}
		&::after {
			background-color: $colorRight;
			top: 1rem;
			left: 8rem;
		}
		&:hover {
			&::before,
			&::after {
				top: 0;
				transform: skewx(0deg);
			}
			&::after {
				left: 0rem;
			}
			&::before {
				left: 8.75rem;
			}
		}
	}
}

@mixin createBox($width, $height, $bRadius, $bgColor, $margin){
  width: $width;
  height: $height;
  border-radius: $bRadius;
  background-color: $bgColor;
  margin: $margin;
  transition: .3s all ease-in-out;
}

@mixin button {
    --c: #503bff;
    color: var(--c);
    font-size: 16px;
    border: 2px solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
	margin: 1em;
	&:hover {
		text-decoration: none;
		color: black;
		span {
			transform: translateY(0) scale(2);
			&:nth-child(1) {
				--n: 1;
			}
			&:nth-child(2) {
				--n: 2;
			}
			&:nth-child(3) {
				--n: 3;
			}
			&:nth-child(4) {
				--n: 4;
			}
		}
	}
	span {
		position: absolute;
		width: 25%;
		height: 100%;
		background-color: var(--c);
		transform: translateY(150%);
		border-radius: 50%;
		left: calc((var(--n) - 1) * 25%);
		transition: 0.5s;
		transition-delay: calc((var(--n) - 1) * 0.1s);
		z-index: -1;
	}
}

@mixin titleBold() {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: $fontType1;
}

@mixin greyLine() {
	border: 1px solid lightgray;
}

@mixin createCircle() {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	border: 1px solid $hoverBgColor;
	position: absolute;
	left: -7px;
}
@mixin createLine {
	width: 45px;
	height: 1px;
	border: 1px solid $hoverBgColor;	
}

@mixin createRec {
    border-left: 4px solid blue;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}

body {
    // background-image: url('img/cool-background.png');
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-color: black;
    background: rgb(247,244,244);
    background: linear-gradient(90deg, rgba(247,244,244,1) 0%, rgba(214,230,237,1) 96%);
}
// .home__intro{
//     background-image: url('img/joshua-ness--r_UgyF_yb0-unsplash.jpg');
// }

.navbar {
    opacity: 0.5;
}
.nav__bar__container {
    ul {
        li {
            a {
                text-decoration: none;
                color: #aaa;
                font-weight: 800;
                text-transform: uppercase;
                transition: all .5s;
                position: relative;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    // margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: #aaa;
                    height: 5px;
                    transition: all .5s;
                }
                &:before{
                    transition: all .5s;
                }
                &:hover {
                    cursor: pointer;
                }
                
                &:hover {
                    // color: #555;
                    // position: absolute;
                    // bottom: 0;
                    // left: 0;
                    // right: 0;
                    // margin: auto;
                    // width: 0%;
                    // content: '.';
                    // color: transparent;
                    // background: #aaa;
                    // height: 1px; 
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
.navbar {
    margin-bottom: 0px !important;
    &-brand {
        font-weight: bold;
        &-name {
            color: #4f8dc0;
        }
    }

}
.home {
    &__portrait {
       
    }
    &__con {
        background-color: black;
    }
    
    &__intro {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/pexels-scott-webb-1029618.jpg');
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        background-size: cover;
        position: relative;
        display: flex;
  

        &__info {
            position: absolute;
            left: 140px;
            top: 300px;
            font-family: 'Bebas Neue', cursive;
            
        }
        // position: relative;
        &__card {
            margin-left: 175px;
        }
        &__portrait {
            border-radius: 5%;
            margin-top: 60px;
            margin-left: 555px;
            // position: absolute;
            width: 310x;
            height: 770px;
            // right: 227px;
        }
        &__wel {
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 23px;
            padding-bottom: 10px;
        }
        &__firName {
            font-family: 'Bebas Neue', cursive;
            font-size: 60px;
            font-weight: bold;
            padding-bottom: 10px;
            color: white;
        }
        &__lastName {
            color: white;
        }
        &__des {
            color: white;
            font-family: $fontType1;
            padding-bottom: 20px;
            font-size: 15px;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            // position: absolute;
            left: 0px;       
            // height: 40px;
            // width: 87px;
            // border-radius: 5%;
            // background-color: $hoverBgColor2;
           
        }
    }
}
.resumePage {
	&__icon {
		width: 5%;
    }
    &__right {
        // background-color: white;
    }
    // &__right {
    //     padding-top: 40px;
    //     padding-bottom: 20pxs;
    // }
    
}

.left {
    // background-color: white;
	display: flex;
	flex-direction: column;
	&__avaContainer {
		align-items: center;
		position: relative;
	}
	&__ava {
		height: 100%;
		width: 100%;
	}
	&__contact__bar {
		display:flex;
		justify-content: space-around;
		align-items: center;
		position: absolute;
		height: 20%;
		width:100%;
		background-color: $contactBarBgColor;
		bottom: 0px;
	}
	&__contact__icon {
		width: 10%;
    	height: 55%;   
    	transition: 100ms linear;
    	&:hover {
    		transform: scale(1.2);
    	}
	}
	&__name {
		font-weight: bold;
		font-size: 20px;
		color: $leftFontColor;
	}
	&__download {
		background-color: $downloadButtonColor;
		color: white;
	    border: none;
	    height: 50px;
	    margin-top: 18%;
	}
	&__list {
		&__group {
            margin-bottom: 61px;
			li {
				padding-top: 20px;
				list-style-type: none;
			}
		}
		&__item {
			font-size: 15px;
			font-weight: bold;
			color: $leftFontColor;
		}
		&__icon {
			height: 100%;
		    width: 9%;
		    margin-right: 20px;
		}
	}
}

.right {
	&__sum {
		&__title {
			font-size: 20px;
	    	font-weight: bold;
            color: $leftFontColor;
            margin-top: 20px;
		}
		&__content {
			margin-top: 14px;
            color: $leftFontColor;
            font-size: 15px;
            font-family: $fontType1;
		}
    }
}

.project {
	&__title {
		font-size: 20px;
    	font-weight: bold;
    	color: $leftFontColor;
	}
	&__info {
		display: flex;
    }
    &__container {
        display: flex;
        flex-direction: column;
        border-left: 1px solid gray;
        position: relative;
        margin-top: 55px;
    }
    &__card {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 20px;
        margin-bottom: 20px;
        @include createRec();
        transition: .3s all ease-in-out;
		&:hover {
			box-shadow: $personaBoxShadow;
		}
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__container {
        &--circle {
            @include createCircle();
        }
        &--line {
            @include createLine();
        }
    }
    &__des {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &__list__content {
        display: flex;
    }
    &__location {
        display: flex;
        &__icon {
            width: 6%;
            @include MQ(S) {
                width: 22%;
                height: 46%;
            }
            @include MQ(L) {
                width: 9%;
                height: 100%;
            }
        }
        &__name {
            margin-left: 15px;
            color: gray;
        }
    }
    &__type {
        display: flex;
        &__icon {
            width: 6%;
            @include MQ(S) {
                width: 22%;
                height: 46%;
            }
            @include MQ(L) {
                width: 9%;
                height: 100%;
            }
        }
        &__name{
            margin-left: 15px;
            color: gray;
        }
    }
    &__period {
        display: flex;
        &__icon {
            width: 6%;
            @include MQ(S) {
                width: 22%;
                height: 46%;
            }
            @include MQ(L) {
                width: 9%;
                height: 100%;
            }
        }
        &__date {
            margin-left: 15px;
            color: gray;
        }
    }
    
}

.education {
	&__container {
		display: flex;
		flex-direction: column;
		position: relative;
		border-left: 1px solid gray;
		margin-top: 55px;
		.container--circle {
			@include createCircle();
			
		}
		.container--line {
			@include createLine();
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
	}
	&__title {
		font-size: 20px;
    	font-weight: bold;
		color: $leftFontColor;
		margin-bottom: 20px;
	}

	&__uni__list {
		margin-bottom: 20px;
	    padding-left: 20px;
	    @include createRec();
	}
	&__card {
        // background-color: white;
		transition: .3s all ease-in-out;
		&:hover {
			box-shadow: $personaBoxShadow;
		}
	}
	&__card--padding {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	&__major {
		margin-bottom: 20px;
	}

	&__list__content {
		display: flex;
	    flex-direction: row;
	    padding-top: 20px;
	}

	&__uni {
		display: flex;
		&__icon{
            
            @include MQ(S) {
                width: 13%;
                height: 55%;
            }
            @include MQ(L) {
                width: 5%;
                height: 100%;
            }
            
		}
		&__name {
			margin-left: 15px;
			color: grey;
		}
	}
	&__period {
		display: flex;
		color: grey;
		&__icon {
            // width: $iconWidth;
            @include MQ(S) {
                width: 13%;
                height: 55%;
            }
            @include MQ(L) {
                width: 5%;
                height: 100%;
            }
		}
		&__date {
			color: grey;
			margin-left: 15px;
		}
	}
}



.aboutPage {
	&__des {
		&__title {
			@include titleBold();
		}
		&__content {
			margin-top: 20px;
			font-family: $fontType1;
		}
    }
    &__skill {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 25px;
        }
    }
	&__Persona {
		&__title {
			@include titleBold();
		}
		.persona__wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		margin-top: 35px;
		.persona__title {
    		font-size: 24px;
    		font-weight: bold;
    		padding-top: 10px;
    		font-family: $fontType1;
		}
		.persona__content {
			font-family: $fontType1;
		}
		.persona__container {
			@include createBox(194px, 220px, 5%, $personaBgColor, 28px);
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			
	    	padding-left: 16px;
	    	padding-right: 16px;
	    	box-shadow: $personaBoxShadow;

	    	&:hover {
	    		background: linear-gradient(130deg, $hoverBgColor 0%, $hoverBgColor2 100%);
     			box-shadow: none;
     			.persona__icon,
     			.persona__title,
     			.persona__content {
     				color: white;
        			transition: .3s all ease-in-out;
     			}
	    	}
	    	.persona__icon__container {
				display: flex;
			    justify-content: center;
			    width: 25%;
			    .persona__icon {
		    		max-height: 50px;
                    max-width: 50px;
                    margin-top: 9px;
	    		}
			}	    	
		}
    }
    &__right {
        .aboutPage {
            &__skill {
                &__title {
                    @include titleBold();
                }
            }
        }
        .super__box {
            // border: 1px solid black;
            width: 190px; //220
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: $fontType1;
            margin: 28px;
            padding-top: 50px;
            &:hover {
                .skill__icon__bg {
                    transform: translateY(-32px) scale(6);
                }
                .skill__icon {
                    transform: translateY(-48px) scale(1.4);
                }
                .skill__text {
                    opacity: 0;
                    transform: translateY(-4px) scale(.8);
                }
                .skill__box::after{
                    opacity: 1;
                }
            }
            .skill {
                &__container {
                    width: 190px; //225
                    height: 190px;
                    display: flex;
                    justify-content: center;
                    align-items: center;  
                    padding-left: 16px;
                    padding-right: 16px;                         
                }
                &__box {
                    position: absolute;
                    width: 220px; //220
                    height: 220px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 3px;
                    overflow: hidden;
                    transition: box-shadow ease 1s;
                    &::after {
                        content: "Discover the attacker's tactics and purposes and find out the identity of the attacker";
                        position: absolute;
                        width: 190px;
                        // top: 111px;
                        margin-top: 146px;
                        padding-bottom: 20px;
                        left: 13%;
                        bottom: 0px;
                        opacity: 0;
                        font-size: 16px;
                        color:$leftFontColor;
                        line-height: 20px;
                        transition: all 0.3s ease;
                        transition-delay: 0.32s;
                    }
                }
                &__icon__bg {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    border: 1px solid rgba(225, 227, 232, 0.18);
                    box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.6s ease;
                    transition-delay: 0.32s;
                    will-change: transform;
                }
                &__icon {
                    position: relative;
                    margin-top: 8px;
                    transition: all 0.6s ease;
                    transition-delay: 0.32s;
                    will-change: transform;
                    img {
                        width: 59px;
                        height: 50px;
                    }
                }
                &__text {
                    position: relative;
                    top: -12px;
                    width: 200px;
                    text-align: center;
                    transition: all 0.4s ease;
                    transition-delay: 0.32s;
                }
                &__title {
                    position: relative;
                    font-family: $fontType1;
                    font-size: 20px;
                    padding-top: 55px;
                }
            }          
        }
    }
}

.contactPage {
    &__map {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    &__right {
       .message__form {
           height: 60px;
       }
       .form {
           margin-top: 25px;
       }
    }
}

.submit__btn {
    width: 100%;
    // background-color: rgb(30, 125, 214,0.5);
    // opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 55px;
    font-size: 18px;
    transition: 0.3s;
    color:  rgb(30, 125, 214);
    font-family: "Lato", sans-serif;
    border: 1px solid rgb(30, 125, 214);
    &:hover {
        background-color: rgb(30, 125, 214);
        opacity: 1;
        color: white;
    }
}
.divider {
	@include greyLine();
}

.download__button {
	--c: #4f8dc0;
    color: var(--c);
    font-size: 16px;
    border: 3px solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
	margin: 1em;
	&:hover {
		text-decoration: none;
		color: white;
		span {
			transform: translateY(0) scale(2);
			&:nth-child(1) {
				--n: 1;
			}
			&:nth-child(2) {
				--n: 2;
			}
			&:nth-child(3) {
				--n: 3;
			}
			&:nth-child(4) {
				--n: 4;
			}
		}
	}
	span {
		position: absolute;
		width: 25%;
		height: 100%;
		background-color: var(--c);
		transform: translateY(150%);
		border-radius: 50%;
		left: calc((var(--n) - 1) * 25%);
		transition: 0.5s;
		transition-delay: calc((var(--n) - 1) * 0.1s);
		z-index: -1;
	}
}

.left__button {
    font-size: 16px;
    border: 2px solid $downloadButtonColor;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    background-color: $hoverBgColor2;
    transition: .3s all ease-in-out;
    color: black;
    margin-left: 41px;
    margin-top: 20px;
    &:hover {
        background-color: $hoverBgColor;
        color: white;
    }
}

.btn{
    &__container {
        width: auto;
        height: auto;
        font-family: "Lato", sans-serif;
        color: $black;
        a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 200;
        }
    }
}

@include btn__split($colorPrimary, $colorSecondary, $black);







